@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  background-color: #262730;
  color: white;
  font-family: "Work Sans", sans-serif;
}
input {
  text-align: left;
  overflow-wrap: break-word;
}

.logo {
  margin-left: calc(50vw - 29px);
}

.textPrompt {
  width: 70vw;
  height: 40vh;
  border: 3px black solid;
}

#langList {
  width: 70vw;
  font-size: x-large;
}
